<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Placeholder Title</title>
    <!-- Bootstrap -->
    <link href="/public/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/public/stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/public/stylesheets/cover.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/public/stylesheets/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>

    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><strong>Placeholder Title</strong></h3>
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

          <div id="get-started">
            <div class="inner cover">
              <p class="lead">Input image for training.</p>
              <p class="lead">
                <a href="#" id="upload-button" class="minimal-button btn btn-lg btn-default">Upload an image</a>
                <input type="file" id="image" accept="image/x-png,image/jpeg" style="visibility: hidden">
              </p>
            </div>
          </div>

          <div id="image" class="hide">
              <img id="blah" src="#" alt="your image" />
          </div>


          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
     ================================================== -->
     <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
     <script src="/public/javascripts/ie10-viewport-bug-workaround.js"></script>
     <script type="text/javascript" src="/public/javascripts/app.js"></script>

   </body>
</html>
